@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
*{font-family: 'Nanum Gothic', sans-serif;}
body{background-color:#eee7e0;}


    #wrap{
        width:1300px;
        background-color:#eee7e0;
        margin-left:auto;
        margin-right:auto;
        /*height 값 삭제*/
    }
    /*main*/
    .main_wrap{
        margin-top:20px;
        background-color: white;
        width:1300px;
        height:800px;
        
    }
    .top_wrap{
        /*background-color:blue;*/
        width:1300px;
        height:60px;
        margin-bottom:20px;
    }
    .top_wrap h1{
        width:100px;
        margin-left:auto;
        margin-right:auto;
    }
    .top_wrap h1 a{
        color:#333333;
        text-align: center;
        line-height:80px;
        text-decoration:none;
        font-size:25px;
    }
    .independent_wrap{
        position:fixed;
        z-index:1;
        right:-100px;
        top:200px;
        transform:rotate(90deg);
        width:300px;
    }
    .independent_wrap span{
        color:#333333;
        font-size:20px;
    }
    .fir_contents_wrap{
        width:1300px;
        height:620px;
        margin-bottom:30px;
    }
    
    .main_img_wrap img{
        border:none;
    }
    .fir_bottom_wrap{
        width:1300px;
        height:100px;
    }
    .fir_bottom_wrap ul{
        
        width:1300px;
        height:40px;
    }
    .fir_bottom_wrap ul li{
        
        width:300px;
        height:40px;
        line-height:50px;
        float:left;
        text-align:center;
       
    }
    .fir_bottom_wrap ul li:first-child{
        margin-right:200px;
    }
    .fir_bottom_wrap ul li:last-child{
        margin-left:200px;
    }
    .fir_bottom_wrap ul li a{
        height:40px;
        display:block;
        
        font-size:20px;
        color:#333333;
        text-decoration: none;
        transition:all 1s;
    }
    .fir_bottom_wrap ul li a:hover{
        
        letter-spacing: 5px;
        transition:all 1s;
    }
    

    /*info*/
    #info_wrap{
        margin-top:50px;
        width:1300px;
        height:800px;
        background-color:#ffffff;
        
    }
    .info_top_wrap{
        position:relative;
        background-color:#eee7e0;
        height:100px;
    }
    .info_text_wrap p{
        height:50px;
        width:80px;
        font-size:25px;
        line-height:75px;
        position:absolute;
        right:0%;
        text-align:center;
    }
    .info_text_wrap .line{
        position:absolute;
        left:0%;
        
        display:block;
        width:1220px;
        height:49px;
        border-bottom:1px solid #333333;
        
    }
    .info_contents_wrap{
        
        width:1200px;
        height:700px;
        padding:50px;
        padding-left:100px;
        
    }
    .info_cont_text_wrap{
       
        position:relative;
        width:1200px;
        height:550px;

    }
    .info_cont_text_wrap p:first-child{
        font-size:70px;
        font-weight:bold;
        text-shadow: -1px 0 #333333, 0 1px#333333, 1px 0 #333333, 0 -1px #333333;
        color:#ffffff;
        width:200px;
        height:100px;
        
        
        padding-right:50px;
        margin-bottom:10px;
    }
    .info_cont_text_wrap .text_sub{
        
        font-size:20px;
        color:#333333;
        font-weight:bold;
        width:400px;
        height:50px;
        
        
    }

    .info_cont_text_wrap ul{
        position:absolute;
        right:10%;
        width:600px;
        height:300px;
        box-shadow:0 8px 16px rgba(0,0,0,0.2);
        padding:20px;  
    }
    .info_cont_text_wrap ul li .que{
        display:block;
        font-size:50px;
        font-weight:bold;
        text-shadow: -1px 0 #333333, 0 1px#333333, 1px 0 #333333, 0 -1px #333333;
        color:#ffffff;
        
        

    }
    .text_que{
        margin-bottom:50px;
    }
    .info_cont_text_wrap ul li .que1{
        width:100px;
        
        float:left;
    }
    .info_cont_text_wrap ul li .que_sub{
        font-size:15px;
        font-weight:normal;
        text-shadow:none;
        color:#333333;
        display:block;
        height:37px;
        
        
    }
    .info_cont_text_wrap ul li .que_sub1{
        width:500px;
        margin-left:100px;
        padding-top:20px;
        
    }
    .info_cont_text_wrap ul li .que2{
        
        width:200px;
        float:left;
    }
    .info_cont_text_wrap ul li .que_sub2{
        width:400px;
        margin-left:200px;
        padding-top:20px;
        
    }
    .info_cont_text_wrap ul li .que3{
       
        width:250px;
        float:left;
    }
    .info_cont_text_wrap ul li .que_sub3{
        width:350px;
        margin-left:250px;
        padding-top:0px;
        
    }

    /*favorite*/ 
    
    #fav_wrap{
        background-color: yellow;
        width:1300px;
        height:900px;
        /*height:100px;*/
        
    }
    .fav_top_wrap{
        position:relative;
        background-color:#eee7e0;
        height:100px;
    }
    .fav_top_wrap p{
        
        height:50px;
        width:100px;
        font-size:25px;
        line-height:75px;
        position:absolute;
        right:0%;
        text-align:center;
    }
    .fav_top_wrap .line2{
        position:absolute;
        left:0%;
        
        display:block;
        width:1200px;
        height:49px;
        border-bottom:1px solid #333333;
    }
    .fav_contents_wrap{
        background-color: white;
        width:1300px;
        height:900px;
    }
    


    .fav_contents_wrap{
        width:1100px;
        height:700px;
        padding:50px 100px 50px 100px;
        
    }

    .fav_con_box_top{
        width:1100px;
        height:400px;
        display:flex;
    }

    .fav_con_box_bottom{
        width:1100px;
        height:300px;
        display:flex;
    }
    

    .chim, .lol{
        margin-right:100px;
    }
    .sea, .mbti{
        margin-left:100px;
    }
    .csimg{
        width:300px;
        height:300px;
        position:relative;
        overflow:hidden;
    }

    .csimg .over{
        position:absolute;
        left:0;
        top:0;
        background-color:rgba(0,0,0,0.6);
        width:300px;
        height:300px;
        opacity:0;
        transition: opacity 0.5s;
    }
    .csimg:hover .over{
        opacity:1;
    }

    .fav_cont_box .csmig img{
        transform: scale(1);
        transition: 1s;
    }

    .fav_cont_box:hover .csimg img{
        transform: scale(1.1);
        transition: 0.5s;
    }

    .over p{
        text-align:center;
        color:#ffffff;
        font-size:20px;
        font-weight:bold;
        margin-top:100px;
        margin-bottom:20px;
    }
    .over span{
        display:block;
        width:210px;
        margin-left:auto;
        margin-right:auto;
        color:#ffffff;
        line-height:25px;
        border-top:1px solid #ffffff;
        padding-top:10px;
    }

    /*contact*/
    #contact_wrap{
        background-color:#ffffff;
        width:1300px;
        height:800px;
        
    
    }
    .contact_top_wrap{
        position:relative;
        background-color:#eee7e0;
        height:100px;
        bottom:0px;

    }
    .contact_text_wrap p{
        height:50px;
        width:100px;
        font-size:25px;
        line-height:75px;
        position:absolute;
        right:0%;
        text-align:center;
    }
    .contact_text_wrap .line3{
        position:absolute;
        left:0%;
        display:block;
        width:1200px;
        height:49px;
        border-bottom:1px solid #333333;
        
    }

    .contact_cont_wrap{
        
        width:1100px;
        height:600px;
        
        padding:100px;
    }

    .contact_cont_left_wrap{
        width:500px;
        height:500px;
        border-right:1px solid #333333;
        float:left;
        background-color: white;
    }
    .cont_left_text{
        padding:30px;
        margin-top:150px;
    }
    .cont_left_text h2{
        font-size:30px;
        margin-bottom:30px;
    }
    .cont_left_text > p{
        border-bottom:1px solid #333333;
        width:410px;
        height:30px;
    }
    .cont_adress_box{
        width:410px;
        height:200px;
        margin-top:40px;
    }
    .cont_adress_box p{
        
        width:100px;
        float:left;
        text-align:center;
    }
    .cont_adress_box p:hover a{
        opacity: 0.5;
        transition:all 0.5s;
    }
    .cont_adress_box p:first-child{
        margin-right:50px;
    }
    .cont_adress_box p:last-child{
        margin-left:50px;
    }
    .cont_adress_box > p >a{
        text-decoration: none;
        color:#666666;
        line-height:30px;
        text-align:center;
        transition:all 0.5s;
    }
    
    .contact_cont_right_wrap form{
        position:relative;
        left:100%;
        transform:translate(-100%,0);
        width:550px;
        height:600px;
        
    }

    #send fieldset{
        width:500px;
        height:450px;
        
        position:absolute;
        left:50%;
        top:40%;
        transform:translate(-50%,-50%);
    }

    #send fieldset legend{
        font-weight:bold;
        font-size:35px;
    }

    #send fieldset > ul{
        width:450px;
        height:400px;
        background-color: white;
        margin-left:auto;
        margin-right:auto;
        margin-top:50px;
    }
    #send fieldset > ul > li{
        width:450px;
        height:50px;
        
        
        margin-bottom:20px;
    }
    #send fieldset > ul > li > label{
        font-size:15px;
       display:block;
        color:#333333;
        width:100px;
        height:48px;
        margin-right:30px;
        text-align: center;
        float:left;
        
        line-height:50px;
        border:1px solid #333333;
    }
    
    #send fieldset > ul > li > input{
        width:300px;
        height:49px;
        margin-top:0px;
        border:none;
        border-bottom:1px solid #333333;
    }
    .button_wrap{
        position:absolute;
        top:75%;
        left:50%;
        transform: translate(-50%,0);
        
        text-align:center;
    }
    .button_wrap button{
        width:200px;
        height:50px;
        background-color:white;
        font-size:25px;
        color:#666666;
        border-radius: 5px;
        border-color:#666666;
    }
